@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@500&display=swap');

/* eric/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* eric/css/reset/end */
/* 顏色 */
:root {
    /* 灰階 */
    --white: #fff;
    --black: #000;
    --font-grey: #666;
    /* 主色調 
    --primary-color:; */
    /* 背景漸層 */
    --gradient:
        linear-gradient(120deg, rgba(164, 213, 190, .25) 30%, rgba(164, 213, 190, 0) 60%),
        linear-gradient(210deg, rgba(137, 209, 239, .25) 30%, rgba(137, 209, 239, 0) 60%),
        linear-gradient(340deg, rgba(238, 179, 208, .25) 30%, rgba(238, 179, 208, 0) 60%);
    --gradient-2:
        linear-gradient(120deg, rgba(238, 179, 208, .25) 30%, rgba(238, 179, 208, 0) 60%),
        linear-gradient(210deg, rgba(164, 213, 190, .25) 30%, rgba(164, 213, 190, 0) 60%),
        linear-gradient(340deg, rgba(137, 209, 239, .25) 30%, rgba(137, 209, 239, 0) 60%);
    /* 遮色片漸層 */
    --overlay:
        linear-gradient(120deg, rgba(164, 213, 190, .3) 30%, rgba(164, 213, 190, 0) 60%),
        linear-gradient(210deg, rgba(137, 209, 239, .3) 30%, rgba(137, 209, 239, 0) 60%),
        linear-gradient(340deg, rgba(238, 179, 208, .3) 30%, rgba(238, 179, 208, 0) 60%),
        linear-gradient(180deg, rgba(255, 255, 255, .3) 30%, rgba(255, 255, 255, .8) 20%, rgba(255, 255, 255, .3) 30%);

}


/* 字型 */
/* 內文(黑體) */
.ch-sans-thin-l {
    /* 葉形按鈕 */
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    font-size: 20px;
    /* 關掉葉形按鈕原設定的#000 */
    color: #666;
    /* color: #000; */
}

.en-sans-light-s {
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 12px;
}

.serif-medium-s {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 24px;
}

.en-sans-light-s {
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 12px;
}

/* 字型設定(完) */

/* 選單開始 */
/* menu */

* {
    box-sizing: border-box;
}

/* NavBar */
header {
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    right: 30px;
    width: 100%;
    float: right;
    z-index: 999;
}

header nav #switch {
    display: none;
}

/* 漢堡按鈕 */
header nav .label-container {
    position: relative;
    float: right;
    padding-top: 25px;
}

header nav .label-container span {
    position: absolute;
    z-index: 1000;
    margin: 40px 17px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 未選中時的圖片 */
header nav .label-container span {
    position: relative;
}

header nav .label-container img {
    content: url(./images/list-cloes.svg);
    transition: transform 0.35s ease;
    width: auto;
}

header nav .label-container span::after {
    content: "Menu";
    position: absolute;
    bottom: -20px;
    z-index: 1000;
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 12px;
}


/* 選中時的圖片 */
#switch:checked+.label-container img {
    content: url(./images/list-cloes.svg);
    transform: rotate(45deg);
    width: auto;
}

#switch:checked+.label-container span::after {
    content: "Close";
}

.menu {
    /* 收起來時歸零 */
    height: 0;
    /* 避免打開時產生震動動畫感(高度同展開後的高度。) */
    max-height: 650px;

    display: flex;
    /* 動畫收和過程中維持垂直 */
    flex-direction: column;
    /* 自動內距寬高 */
    justify-content: space-between;

    /* 背景顏色 */
    background: var(--gradient);
    /* background-color: rgba(255, 255, 255, 0.85); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;

    overflow: hidden;
    /* 動畫秒數 */
    transition: .5s;
    width: 400px;
    /* 使用固定定位，讓她永遠浮在畫面上 */
    position: fixed;
    z-index: 999;
    /* 畫面靠右 */
    right: 0;
    margin: 30px 15px 0 0;
    padding: 0 30px;
}

.menu li {
    overflow: hidden;
    text-align: left;
}

.menu li a,
.menu li small {
    text-decoration: none;
    display: block;
    line-height: 1.3;
    text-align: left;
}

.menu li a:hover {
    color: #000;
}

input:checked~.menu {
    /* 點開後的高度 */
    height: 90vh;
    max-height: 650px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* 子分類的ul樣式變更 */
.menu .box-container {
    height: 20%;
}

.menu .box-container .list-container {
    /* A、B盒子從垂直變水平 */
    display: flex;
    height: 100%;
}

.menu .box-container .list-container .list-A,
.menu .box-container .list-container .list-B {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu .box-container .list-container .list-A li,
.menu .box-container .list-container .list-B li {
    /* li樣式變更 */
    background: url(./images/ulStely.svg) no-repeat left center;
    background-size: 13px;
    /* li圖跟字的距離 */
    padding-left: 24px;
}

/* 底線樣式 */
header nav .list-element-line {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #ccc;
}

/* 英文字樣式修正 */
header nav li .enText {
    display: flex;
    margin-left: 2px;
}

/* 右下logo設定 */
header nav li img {
    float: right;
    width: 100px;
}

/* logo與li水平排列 */
header nav .menu .contact-link {
    float: left;
}



/* RWD 斷點 */
/* 電腦 1200px以上 */
/* @media (min-width:1201px) {} */

/* 大型平板(993-)1200px */
/* @media (max-width:1200px) {} */

/* 平板 (769-) 992px */
@media (max-width: 992px) {
    .menu {
        width: 55%;
    }

    input:checked~.menu {
        width: 55%;
        height: 80%;
    }
}

/* 手機 (577-) 768px */
@media (max-width: 768px) {
    .menu {
        width: 55%;
    }

    input:checked~.menu {
        height: 80%;
        width: 55%;
    }
}

/* 小型手機 576px 以下 */
@media (max-width: 576px) {
    header nav .label-container span {
        margin: 10px 15px;
    }

    .menu {
        margin: 20px;
        width: 55%;
    }

    input:checked~.menu {
        height: 60%;
        width: 55%;
    }

    .menu .box-container,
    .menu .box-line,
    .logo-right {
        display: none;
    }
}

/* menu end */