@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@500&display=swap');

/* eric/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* eric/css/reset/end */

/* 字型 */
/* 內文(黑體) */
.ch-sans-thin-l {
    /* 葉形按鈕 */
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    font-size: 20px;
    /* 關掉葉形按鈕原設定的#000 */
    color: #666;
    /* color: #000; */
}

.en-sans-light-s {
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 12px;
}

.serif-medium-s {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 24px;
}

/* 字型設定(完) */



* {
    box-sizing: border-box;
}

/* NavBar */
nav {
    right: 30px;
    float: right;
    width: 100%;
    position: fixed;
    z-index: 999;
}

#switch {
    display: none;
}

/* 未選中時的圖片 */
label img {
    content: url(./images/list-cloes.svg);
    transition: transform 0.35s ease;
    width: auto;

}

/* 選中時的圖片 */
#switch:checked+label img {
    content: url(./images/list-cloes.svg);
    transform: rotate(70deg);
    width: auto;
}

/* 漢堡按鈕 */
label {
    /* position: relative; */
    float: right;
    padding-top: 25px;


    img {
        position: absolute;
        /* 使用固定定位 */
        z-index: 1000;
        margin: 40px 50px;
        right: 0;
    }
}

/* menu*/
.menu {
    /* 收和後，避免他全部水平排列。 */
    height: 0;
    display: flex;
    flex-direction: column;
    /* 自動內距寬高 */
    justify-content: space-between;

    /* 背景顏色 */
    background:
        linear-gradient(120deg, rgba(164, 213, 190, 0.3)30%, rgba(164, 213, 190, 0)60%),
        linear-gradient(210deg, rgba(137, 209, 239, 0.3)30%, rgba(137, 209, 239, 0)60%),
        linear-gradient(340deg, rgba(238, 179, 208, 0.3)30%, rgba(238, 179, 208, 0)60%);
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    /* background:
        linear-gradient(120deg, rgba(164, 213, 190, 0.3)30%, rgba(164, 213, 190, 0)60%),
        linear-gradient(210deg, rgba(137, 209, 239, 0.3)30%, rgba(137, 209, 239, 0)60%),
        linear-gradient(340deg, rgba(238, 179, 208, 0.3)30%, rgba(238, 179, 208, 0)60%);
    border-radius: 30px; */
    /* 包住整個內容，不然收和後會顯示表單裡的字 */
    overflow: hidden;

    /* 動畫秒數 */
    transition: .5s;
    width: 450px;



    /* 使用固定定位，讓她永遠浮在畫面上 */
    position: fixed;
    z-index: 999;

    /* 畫面靠右 */
    right: 0;
    margin: 30px;

    li {
        /* 包住整個內容，點開後會顯示表單裡的字 */
        overflow: hidden;
        /* border: 1px solid #000; */
        text-align: left;
        padding: 40px;


        li {
            padding: 10px;
        }


        a,
        small {
            text-decoration: none;
            display: block;
            line-height: 30px;
            text-align: left;

            &:hover {
                /* background-color: #000; */
                color: #000;
            }
        }
    }
}


/* 子分類的ul樣式變更 */
ul.list-A li,
ul.list-B li {
    /* 圖跟字的距離 */
    padding-left: 24px;
    background: url(./images/ulStely.svg) no-repeat left center;
    background-size: 13px;
}

input:checked~.menu {
    /* 點開後的高度 */
    height: 80vh;
    max-height: 780px;
    width: 45vh;
    display: flex;
    flex-direction: column;
}



.menu .list-container {
    /* border: 1px solid red; */
    display: flex;
}

.list-A,
.list-B {
    /* border: 1px solid red; */
    flex: 1;
}


/* 底線樣式 */
.element {
    position: relative;
    width: 100%;
    display: inline-block;
}

.element::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    /* 底線的厚度 */
    background-color: #666;
    /* 底線的顏色 */
}

/* 英文字樣式修正 */
li .enText {
    display: flex;
    margin-left: 3px;
}

li img {
    width: 100px;
    float: right
}

.menu .contact-link {
    float: left;
}

/* 新添加的样式 */
/* .glassmorphism {
    position: absolute;
    z-index: 998;
    right: 0;
    height: 80vh;
    width: 50vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.85);
    background:
        linear-gradient(120deg, rgba(164, 213, 190, 0.3)30%, rgba(164, 213, 190, 0)60%),
        linear-gradient(210deg, rgba(137, 209, 239, 0.3)30%, rgba(137, 209, 239, 0)60%),
        linear-gradient(340deg, rgba(238, 179, 208, 0.3)30%, rgba(238, 179, 208, 0)60%);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    border: 3px solid #000;
} */
